.header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
}
.completeNow{
      background-color: skyblue;
      padding: 5px 10px;
      border-radius: 10px;
      color: white;
}
.btn{
      background-color: transparent;
      color: blue;
      border: none;
}
.main{
      width: 80%;
      margin-left: 10%;
      margin-top: 2.5%;
      box-shadow: grey 1px 3px 10px 5px;
}
.int{
      width: 30%;
      display: inline-block;
}
.input{
      width: 65%;
}
.btns{
      display: block;
      margin: 10px 10px; 
}