.header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
}
.completeNow{
      background-color: skyblue;
      padding: 5px 10px;
      border-radius: 10px;
      color: white;
}
.btn{
      background-color: transparent;
      color: blue;
      border: none;
}